.stuff-form{
  display: flex;
  max-width: 300px;
  justify-content: center;
  background-color: aliceblue;
  margin-top:.25rem;
  border:2px solid black;
}

.stuff-input{
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.stuff-form button {
  margin-top: 10px;
  margin-bottom: 15px;
  background-color:aliceblue;
  border: 2px solid darkblue;
  border-radius:99px;
  padding: .33rem;
  color:blue;
}

