<button mat-icon-button color="accent" type="button"(click)="onCancel()"><mat-icon>close</mat-icon></button>
    <form *ngIf="stuffForm" [formGroup]="stuffForm">


          <mat-form-field>
            <mat-label for="name">Stuff Name: </mat-label>
            <input
              matInput
              name="name"
              type="text"
              maxlength="15"
              minlength="3"
              formControlName="name"
              autocomplete="on"
              spellcheck="true"
            >
            <mat-hint>min 3 characters and a max of 15</mat-hint>
            <mat-error *ngIf="stuffForm.get('name').touched && stuffForm.get('name').invalid"> Please name your stuff!</mat-error>
          </mat-form-field>



          <mat-form-field>
            <mat-label for="quantity">How Much Stuff?</mat-label>
            <input
              matInput
              type="number"
              name="quantity"
              placeholder="1"
              max = "100"
              min = "1"
              formControlName="quantity">
          </mat-form-field>



        <mat-form-field>
          <mat-label for="description">Stuff Description</mat-label>
          <textarea
            matInput
            name="description"
            formControlName="description"
            maxlength="180"
            spellcheck="true"
          ></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label for="category">Category</mat-label>
          <mat-select
            matInput
            multiple="false"
            name="category"
            formControlName="category"
            >
          <mat-select-trigger>{{stuffForm.value.category}}</mat-select-trigger>
            <mat-option value="House Hold Stuff"><mat-icon>house</mat-icon>Household stuff</mat-option>
            <mat-option value="Pet Stuff"><mat-icon>pets</mat-icon>Pet Stuff</mat-option>
            <mat-option value="Other Stuff"><mat-icon>no_food</mat-icon>Other Stuff</mat-option>
            <mat-option value="Bathroom Stuff"><mat-icon>bathroom</mat-icon>Bathroom Stuff</mat-option>
            <mat-option value="Perishable Stuff"><mat-icon>kitchen</mat-icon>Perishable Stuff</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field *ngIf="stuffForm.value.category === 'Perishable Stuff'">
          <mat-label>Expiration Date</mat-label>
          <input
          matInput
          [min]="minDate"
          [matDatepicker]="picker"
          formControlName="expirationDate"
          >
          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker  #picker></mat-datepicker>
          <mat-hint>Enter The Best By Or Expiration Date</mat-hint>
          <mat-error >Please Enter A Valid Expiration Date</mat-error>
        </mat-form-field>
      <div>
        <button
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="!stuffForm.valid"
          [mat-dialog-close]="stuffForm.value"
          >Save
        </button>
      </div>
  </form>

