<section class="login">
  <div class="title" >
      <span>Welcome Back!</span>
      <p>Log in to view your Stuff</p>
  </div>
  <div class="form-container">
      <form class="form" #signUpForm="ngForm">
        <mat-form-field appearance="outline">
          <mat-label>
              Email
          </mat-label>
          <input
            matInput
            ngModel
            type="email"
            required="true"
            autocomplete="email"
            name="email"
            #email="ngModel"
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>
              Password
            </mat-label>
            <input
              matInput
              ngModel
              type="password"
              required="true"
              autocomplete="current-password"
              name="password"
            >
          </mat-form-field>
        <mat-error>{{errorMessage}}</mat-error>
        <div class="forgot-password">
          <button
            mat-button
            [disabled]="email.invalid"
            (click)="onPasswordReset(email.value)"
            color="accent">forgot your password?
          </button>
        </div>
        <button
           mat-raised-button
           (click)="onSubmit(signUpForm)"
           [disabled]="signUpForm.invalid"
           type="submit"
           color="primary"
          >Login</button>
      </form>
      <div class="sign-up-button">
        <span>Dont't have an account yet?</span>
        <button mat-button color="primary" (click)="onSignUp()"> sign-up</button>
      </div>
  </div>
</section>

