<div class="side-nav">
  <div class="side-nav__title">
    <h1>My Stuff</h1>
  </div>
  <div class="side-nav-list">
    <div *ngIf="isLoggedIn">
      <button routerLink="home" mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
      <label>Home</label>
    </div>
    <div *ngIf="!isLoggedIn" (click)="onLogin()">
      <button mat-icon-button>
        <mat-icon>login</mat-icon>
      </button>
      <label>Login</label>
    </div>
    <div *ngIf="isLoggedIn"  (click)="onLogOut()">
      <button mat-icon-button>
        <mat-icon>logout</mat-icon>
      </button>
      <label>Log Out</label>
    </div>
    <div *ngIf="!isLoggedIn"(click)="onSignUp()">
      <button mat-icon-button>
        <mat-icon>upgrade</mat-icon>
      </button>
      <label>signup</label>
    </div>
  </div>
</div>


