<mat-card>
  <mat-card-title>
    <div class="title-name">
      <mat-icon>{{stuffItem.categoryIcon}}</mat-icon> {{stuffItem.name}}
    </div>
    <div class="title-quantity">
     Qty: {{stuffItem.quantity}}
    </div>
  </mat-card-title>
  <mat-card-subtitle>
      {{stuffItem.expirationDate ? 'expires in '+(stuffItem.expirationDate | stuffDate:'expiration') : 'added '+(stuffItem.dateEntered | stuffDate)}}
  </mat-card-subtitle>
  <mat-card-content>{{stuffItem.description}}</mat-card-content>
  <mat-card-footer>
    <mat-card-subtitle>{{stuffItem.category === 'Perishable Stuff' ?  'added '+(stuffItem.dateEntered | stuffDate) +' ago' : null }} </mat-card-subtitle>
    <div>
      <button mat-icon-button color="primary"(click)="onOpenDialog()"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button color="warn" (click)="onDelete(stuffItem.id)"><mat-icon>delete</mat-icon></button>
    </div>
  </mat-card-footer>
</mat-card>



