<mat-expansion-panel>
  <mat-expansion-panel-header >
    <mat-panel-title>
      <div>
        <mat-icon matBadge="{{stuffItem.quantity}}" matBadgeSize="small" matBadgeColor="primary">{{stuffItem.categoryIcon}}</mat-icon>
      </div>
    </mat-panel-title>
    <mat-panel-description>
      {{stuffItem.name}}
    </mat-panel-description>
  </mat-expansion-panel-header>
    <div>
      <div class="description">
       <p>{{stuffItem.description}}</p>
      </div>
      <div class="footer">
        <div>
          <span>Purchased: {{(stuffItem.dateEntered | stuffDate) +' ago'}}</span>
        <br>
          <span><i>{{stuffItem.expirationDate ? 'Expires in: '+(stuffItem.expirationDate | stuffDate:'expiration'):null}}</i></span>
        </div>
          <div class="action-buttons">
            <button mat-icon-button color="primary"(click)="onOpenDialog()"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="onDelete(stuffItem.id)"><mat-icon>delete</mat-icon></button>
          </div>
        </div>
  </div>
</mat-expansion-panel>



