mat-card{
  margin:5px 10px 5px 10px;
  width: 339px;
  border-radius: 15px;
}
mat-card-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-name{
  display: flex;
  align-items: center;
}
mat-card-footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
}
