mat-expansion-panel{
  margin-top:8px;
  margin-left:8px;
  margin-right: 8px;
  max-width: 600px;
}
mat-panel-description{
  font-size: larger;
}
::ng-deep .mat-content{
  overflow: visible !important;
}
.description{
  font-size: medium;
  height: fit-content;
  max-width: 300px;
  max-width: 400px;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: grey;
}
.action-buttons{
  display: flex;
  padding-left:10px;
}
