.sign-up{
  display: flex;
  flex-direction: column;
  background-color: #d9e4eb;
  height: 100vh;
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 125%;
  color:#366A82;
  width: 100%;
}
.form-container{
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 300px;
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  color:#366A82;
}
.form{
  display: flex;
  flex-direction: column;
}
mat-checkbox{
  margin-bottom: 8px;
}
.sign-up-button{
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}
.login-button{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 16px;
  color:#366A82;
}
