<section class="sign-up">
  <div class="title">
    <span>Sign Up</span>
    <span>Start Tracking Your Stuff</span>
  </div>

  <div class="form-container" >
      <form class="form" #signUpForm="ngForm" (submit)="onSubmit(signUpForm)">
        <mat-form-field appearance="outline">
          <mat-label>
              Email
          </mat-label>
          <mat-error *ngIf="email.touched && email.invalid">You need to put an valid email address here</mat-error>
          <input
            matInput
            ngModel
            email
            type="email"
            pattern="^\S+@\S+\.\S+$"
            required
            autocomplete="email"
            name="email"
            #email=ngModel
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>
            Password
          </mat-label>
          <input
            matInput
            ngModel
            type="password"
            required
            minlength="8"
            maxlength="20"
            autocomplete="new-password"
            name="password"
            #password=ngModel
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-error *ngIf="passwordConfirm.touched &&
          password.touched &&
          password.value != passwordConfirm.value"
         >
          Your password must be entered in both fields
        </mat-error>
          <mat-label>
            Password Confirmation
          </mat-label>
          <input
            matInput
            ngModel
            type="password"
            minlength="8"
            maxlength="20"
            required
            autocomplete="new-password"
            name="passwordConfirm"
            #passwordConfirm=ngModel

          >
        </mat-form-field>
              <mat-checkbox
              required
              name="agreement"
              matInput
              ngModel
              #agreement=ngModel
              >I will not use this product to do anything illegal
            </mat-checkbox>


          <mat-divider></mat-divider>

        <mat-error>{{errorMessage}}</mat-error>
          <div class="sign-up-button">
            <button
              mat-raised-button
              [disabled]="signUpForm.invalid || password.value != passwordConfirm.value"
              type="submit"
              color="primary"
              >Sign up
            </button>
          </div>
      </form>
  </div>
  <div class="login-button">
    <span>already have an account?</span>
    <button mat-button (click)="onLogin()">Login</button>
  </div>
</section>
