<section class="sign-up">
  <div class="title">
    <span>Sign Up</span>
    <span>to Start Tracking Your Stuff</span>
  </div>

  <div class="form-container" >
      <form class="form" #signUpForm="ngForm" (submit)="onSubmit(signUpForm)">
        <mat-form-field appearance="outline">
          <mat-label>
              Email
          </mat-label>
          <mat-error *ngIf="email.touched && email.invalid">You need to put an valid email address here</mat-error>
          <input
            matInput
            ngModel
            email
            type="email"
            pattern="^\S+@\S+\.\S+$"
            required
            autocomplete="email"
            name="email"
            #email=ngModel
          >
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>
            Password
          </mat-label>
          <input
            matInput
            ngModel
            type="password"
            required
            minlength="8"
            autocomplete="new-password"
            name="password"
            #password=ngModel
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-error *ngIf="passwordConfirm.touched &&
          password.value != passwordConfirm.value"
         >
          Your passwords must be entered twice identically
        </mat-error>
          <mat-label>
            Password Confirmation
          </mat-label>
          <input
            matInput
            ngModel
            type="password"
            minlength="8"
            required
            autocomplete="new-password"
            name="passwordConfirm"
            #passwordConfirm=ngModel

          >
        </mat-form-field>


              <mat-checkbox
              required
              name="agreement"
              matInput
              ngModel
              #agreement=ngModel
              >I will not use this product to do anything illegal
            </mat-checkbox>


        <mat-error>{{errorMessage}}</mat-error>
        <button
          mat-raised-button
          [disabled]="signUpForm.invalid"
          type="submit"
          color="primary"
          >Sign up
        </button>
      </form>
      <div class="help-actions">
        <span>already have an account?</span>
        <button mat-button (click)="onLogin()">Login</button>
        <!-- <a>I Agree to the T.O.S</a> -->
      </div>
  </div>
</section>
