.page-container{
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right:0;
  overflow: auto;
  background-color: #456179;
  color:white;
  display:flex;
  flex-direction: column;
}
.my-stuff-gif{
  align-self: center;
}
.action-panel{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
mat-form-field{
  background-color:rgba(218, 229,225);
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  width:90%;
  max-width: 350px;
  align-content: center;
  height: 58px;
  border: none;
}
