/* .page-container{
  overflow: auto;
  background-color: white;
  display:flex;
  flex-direction: column;
} */
.action-panel{
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.action-panel__search{
  margin-right: 8px;
}
