<div class="page-container">
  <h1>My Stuff</h1>

    <div class="action-panel">
      <div class="action-panel__search">
        <mat-form-field color="accent" appearance="outline">
          <mat-label>search your stuff</mat-label>
        <input
          placeholder="search"
          matInput
          type="search"
          [(ngModel)]="search"
        >
        <mat-icon matPrefix color="accent">search</mat-icon>
      </mat-form-field>
      </div>
      <div class="action-panel__addbtn">
        <button mat-fab (click)="onOpenDialog()" color="primary">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </div>
  <router-outlet></router-outlet>
  <app-stuff-list></app-stuff-list>
</div>
